/* место для вашего кода */

.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px; 
}
.header__menu-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header__link{
  display: block;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-decoration: underline;
}
.header__link_active .header__link {
  text-decoration: none;
}
.header__links-list-item{
  list-style: circle;
}
.header__links-list-item_no-bullit{
  list-style: none;
}
.header__logo{
  display: block;
  width: 148px;
}
.header__logo-image{
  width: 100%;
}
.address{
  justify-self: end;
  font-style: normal;
  font-size: 18px;
}
.cover{
  background-color: black;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 179px;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__title{
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  padding: 165px 50px 135px;
}
.aligned-text{
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right{
  text-align: right;
}
.letter-spacing-extended{
  letter-spacing: 0.6em;
}
.no-letter-spacing{
  letter-spacing: 0.3em;
}
.cover__description{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right:30px;
  padding-bottom: 51px;
  padding-left: 78px;
  gap: 35px;
}
.cover__description-text{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  word-spacing: 0.9em;
}
.bet-button{
  background-color: transparent;
  font-size: 22px;
  border: solid 1px white;
  padding: 12px 32px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.lots__heading{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.lots__card-list-item{
  list-style: none;
  flex-grow: 1;
  width: 50px;
}
.card__title{
font-size: 22px;
font-weight: 700;
color: white;
}
.card__text{
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.card-link{
  display: block;
  text-decoration: none;
}
.card{
  width: 100%;
}
.card_type_film{
  background-color: black;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
}
.card_type_book{
  background-color: black;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
}
.card_type_picture{
  background-color: black;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
}